@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --body-font: "Inter", sans-serif;
    --main-color: #025596;
    --second-color: #b2ccdf;
    --third-color: #fcfdfe;
    --fourth-color: #6799c0;
    --fifth-color: #2a70a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--main-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: var(--main-color);
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: var(--second-color);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked ~ ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: var(--fifth-color);
    }
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

a.active {
    text-decoration: none;
}

ol, ul {
    padding-left: 0rem !important;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 80px;
}

.footer {
    background-color: var(--main-color);
    color: #fff;
    padding: 40px 20px;
}

.footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer h3 span {
    color: var(--second-color);
}

.footer p {
    font-size: 14px;
    margin-bottom: 20px;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icons i {
    font-size: 20px;
    color: #fff;
    transition: color 0.3s;
}

.footer-icons i:hover {
    color: var(--second-color);
}

.ft-1, .ft-2, .ft-3 {
    margin-bottom: 20px;
}

.ft-2 ul {
    list-style: none;
    padding-left: 0;
}

.ft-2 ul li {
    margin-bottom: 10px;
}

.footer-a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-a:hover {
    color: var(--second-color);
}

.lasttext {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

@media (max-width: 768px) {
    .ft-1, .ft-2, .ft-3 {
        text-align: center;
    }
}

.btn-primary {
    background-color: var(--fifth-color);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.btn-secondary {
    background-color: var(--second-color);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: var(--fifth-color);
    color: var(--second-color);
}

section {
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}

.section1 {
    background-color: var(--main-color);
    position: relative;
    overflow: hidden;
    min-height: 64vh !important;
}

.section1-content {
    padding: 20px;
}

.section1 .title {
    font-size: 38px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section1 .description {
    font-size: 16px;
    margin-bottom: 20px;
}

.section-image {
    transition: transform 0.3s ease-in-out;
}

.section-image:hover {
    transform: scale(1.05);
}


.section1 ul {
    list-style: none;
    padding-left: 0;
    justify-content: center;
}

.section1 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.section1 ul li .custom-check-icon {
    margin-right: 10px;
    font-size: 16px;
    color: var(--second-color);
}

.section1 .button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.section2 {
    background-color: var(--fourth-color);
    padding: 60px 20px;
    text-align: center;
}

.section2-content {
    max-width: 1100px;
    margin: 0 auto;
}

.section2-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
}

.section2-p {
    color: var(--main-color);
    font-size: bold;
}

.section2-description {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--fifth-color);
}

.details-link {
    color: var(--third-color);
    text-decoration: underline;
}

.details-link:hover {
    color: var(--fifth-color);
}

.about-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.section2-li {
    color: var(--main-color);
}

.section2 ul {
    list-style: none !important;
    padding-left: 0;
    justify-content: center;
}

.section2-col {
    background: var(--third-color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section2-col:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.home-icon {
    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 15px;
}

.custom-check-icon {
    margin-right: 8px;
    color: var(--main-color);
    font-size: 18px;
}

@media (max-width: 768px) {
    .about-row {
        flex-direction: column;
        align-items: center;
    }

    .section2-col {
        width: 90%;
    }
}

.section3 {
    background-color: var(--third-color);
    color: var(--main-color);
    padding: 40px 20px;
}

.section3-table td, th{
    font-size: 16px;
}

.section3-table th{
    color: var(--main-color);
}

.section3-table td{
    color: var(--fifth-color);
}

.containerabout {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

.table-header, .table-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.table-header {
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.table-column, .table-cell {
    flex: 1;
    padding: 10px;
}

.details-link {
    color: var(--third-color);
    text-decoration: underline;
}

.details-link:hover {
    color: var(--fifth-color);
}

@media (max-width: 768px) {
    .table-header, .table-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .table-column, .table-cell {
        padding: 5px 0;
    }
}

.section4 {
    color: var(--main-color);
    padding: 40px 20px;
}

.section4 .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section4 h2 {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.price-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.price-card {
    background-color: var(--second-color);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.price-card:hover {
    transform: translateY(-10px);
}

.price-card p {
    font-size: 18px;
    margin-bottom: 10px;
}

.price-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.price-card h3 span {
    font-size: 16px;
    color: var(--third-color);
}

.price-card .description {
    font-size: 14px;
    margin-bottom: 20px;
}

.price-card ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
}

.price-card ul li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .price-row {
        flex-direction: column;
        align-items: center;
    }
}

.section5 {
    background-color: var(--main-color);
    padding: 40px 20px;
}

.section5-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.section5 .card-text {
    color: var(--main-color);
    font-size: 16px;
}

.section6 {
    background-color: var(--third-color);
    color: var(--main-color);
    padding: 40px 20px;
}

.section6 h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.section6 h2 span {
    color: var(--main-color);
}

.section6 .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.section6 .card:hover {
    transform: translateY(-10px);
}

.section6 .card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.section6 .card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.section6 .card-text {
    font-size: 14px;
}

.section7 {
    background-color: var(--fifth-color) !important;
    padding: 40px 20px;
}

.section7 h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.section7 p {
    font-size: 16px;
    margin-bottom: 30px;
}

.list-group-item {
    font-size: 16px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: background-color 0.3s;
    color: var(--main-color);
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.list-group-item .fas {
    margin-left: 10px;
}

.section8 {
    background-color: var(--third-color);
    color: var(--main-color);
}

.text-primary {
    color: var(--main-color) !important;
}

.section8 .contact-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.section8 .contact-content p {
    font-size: 16px;
    margin-bottom: 30px;
}

.section8 .contact-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.section8 .contact-card:hover {
    transform: translateY(-10px);
}

.section8 .card-body {
    padding: 20px;
}

.section8 .card-body h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.section8 .card-body p {
    font-size: 14px;
}

.section8 .contact-form .form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.section8 .contact-form .btn-primary {
    background-color: var(--second-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.section8 .contact-form .btn-primary:hover {
    background-color: var(--third-color);
}